/*Import funtions from Bootstrap*/
/* ========= Custom Defined Variables ================*/
body {
  font-size: 14px;
  background-color: #f3f4f6;
  font-family: 'open-sans', sans-serif; }

a {
  color: #2042cb; }
  a:hover {
    color: #2042cb;
    text-decoration: underline !important; }

button.btn {
  font-weight: 600;
  font-size: 12px;
  height: 40px;
  border-radius: 2px;
  text-transform: uppercase;
  line-height: 1.83;
  letter-spacing: 0.5px;
  text-align: center;
  padding: 0 20px; }
  button.btn.btn-lg {
    font-size: 1rem;
    height: 50px;
    padding: 0 30px; }
  button.btn.btn-primary {
    background-color: #2042cb;
    border-color: #2042cb; }
    button.btn.btn-primary:hover {
      background-color: #0b0886;
      border-color: #0b0886; }
  button.btn:active {
    background-color: inherit; }

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: unset;
  background-color: unset;
  border-color: unset; }

input {
  font-size: 1rem; }
  input:focus {
    outline: none;
    -webkit-box-shadow: none !important;
    box-shadow: none !important; }

header {
  border-bottom: 1px solid #c2c2c2;
  background-color: #ffffff; }
  header .language-selector {
    float: right;
    padding-left: 5px;
    height: 83px;
    width: 80px;
    line-height: 81px;
    color: #002960;
    border-left: 1px solid #eeeeee; }
    header .language-selector .dropdown {
      display: inline-block; }
      header .language-selector .dropdown button {
        color: #002960;
        text-transform: uppercase;
        font-size: 0.75rem;
        padding: 0; }
        header .language-selector .dropdown button:focus {
          outline: none; }
    header .language-selector i {
      vertical-align: middle; }

main {
  min-height: calc(100vh - 145px); }

footer {
  background-color: #232d39;
  font-size: 0.75rem;
  line-height: 60px;
  height: 60px;
  margin-top: 40px; }
  footer .copyright {
    color: #696969; }
  footer ul li a.nav-link {
    color: #ffffff;
    display: inline-block;
    padding: 0 0.6rem;
    position: relative; }
    footer ul li a.nav-link:before {
      content: "";
      position: absolute;
      left: 0;
      top: 24px;
      height: 10px;
      width: 1px;
      background-color: #ffffff; }
  footer ul li:first-child a:before {
    display: none; }

.form-check-label input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0; }
  .form-check-label input[type="checkbox"]:checked ~ .checkmark:after {
    display: block; }

.form-check-label .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  border-radius: 3px;
  border: 2px solid #000000; }
  .form-check-label .checkmark:after {
    content: "";
    position: absolute;
    display: none;
    left: 4px;
    top: 0;
    width: 4px;
    height: 9px;
    border: solid black;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }

.form-check-label:hover input ~ .checkmark {
  background-color: #eeeeee; }

.activation .form {
  background-color: #ffffff;
  border-top: 6px solid #002960;
  padding: 30px 50px;
  margin-top: 30px; }
  .activation .form h4 {
    margin: 20px 0 20px; }
  .activation .form .form-group {
    margin-bottom: 5px; }
    .activation .form .form-group input:not([type='checkbox']) {
      max-width: 293px;
      height: 50px;
      border-radius: 0;
      border: 1px solid #696969; }
      .activation .form .form-group input:not([type='checkbox']):disabled {
        border: 0;
        opacity: 0.9; }
    .activation .form .form-group small {
      font-size: 90%;
      color: #696969; }
    .activation .form .form-group.agreement label {
      font-size: 0.9rem;
      color: #000000;
      margin-left: 3px; }
    .activation .form .form-group .password {
      position: relative;
      display: inline-block;
      width: 100%;
      max-width: 293px; }
      .activation .form .form-group .password .material-icons {
        position: absolute;
        right: 10px;
        top: 14px;
        color: #696969;
        cursor: pointer; }
        .activation .form .form-group .password .material-icons:hover {
          color: #0b0886; }
    .activation .form .form-group .checkmark {
      top: 2px; }

.activation .form-footer {
  padding: 10px 35px; }
  .activation .form-footer a {
    font-weight: 400; }
