/*Import funtions from Bootstrap*/
/* ========= Custom Defined Variables ================*/
body { font-size: 14px; background-color: #f3f4f6; font-family: 'open-sans', sans-serif; }

a { color: #2042cb; }

a:hover { color: #2042cb; text-decoration: underline !important; }

button.btn { font-weight: 600; font-size: 12px; height: 40px; border-radius: 2px; text-transform: uppercase; line-height: 1.83; letter-spacing: 0.5px; text-align: center; padding: 0 20px; }

button.btn.btn-lg { font-size: 1rem; height: 50px; padding: 0 30px; }

button.btn.btn-primary { background-color: #2042cb; border-color: #2042cb; }

button.btn.btn-primary:hover { background-color: #0b0886; border-color: #0b0886; }

button.btn:active { background-color: inherit; }

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle { color: unset; background-color: unset; border-color: unset; }

input { font-size: 1rem; }

input:focus { outline: none; -webkit-box-shadow: none !important; box-shadow: none !important; }

form.white .form-group.success input:not([type='checkbox']) { border-color: #008000; color: #008000; }

form.white .form-group.success i { color: #008000; }

form.white .form-group.error input:not([type='checkbox']) { border-color: #d50000; color: #d50000; }

form.white .form-group.error i { color: #d50000; }

form.black .form-group.success input:not([type='checkbox']) { border-color: #00d400; color: #00d400; }

form.black .form-group.success i { color: #00d400; }

form.black .form-group.error input:not([type='checkbox']) { border-color: #f00000; color: #f00000; }

form.black .form-group.error i { color: #f00000; }

form .form-group .ico-field { position: relative; }

form .form-group .ico-field i { position: absolute; right: 15px; top: 13px; content: ''; }

form .form-group .ico-field input:not([type='checkbox']) { padding-right: 50px; }

form .form-group .label-animate { position: absolute; font-size: 1rem; top: 15px; left: 10px; color: #696969; -webkit-transition: all .2s; -o-transition: all .2s; transition: all .2s; }

form .form-group .label-animate.active { font-size: 0.8rem; color: #2042cb; top: -19px; left: 0; }

body, html { position: relative; min-height: 100%; }

.mt-5 { margin-top: 5px; }

.mt-10 { margin-top: 10px; }

.mt-15 { margin-top: 15px; }

.mt-20 { margin-top: 20px; }

.mt-30 { margin-top: 30px; }

.modal-dialog { border-top: 6px solid #0b0886; }

.modal-dialog .modal-content { border-radius: 0; }

header { border-bottom: 1px solid #c2c2c2; background-color: #ffffff; }

header .language-selector { float: right; padding-left: 5px; height: 83px; width: 80px; line-height: 81px; color: #002960; border-left: 1px solid #eeeeee; }

header .language-selector .dropdown { display: inline-block; }

header .language-selector .dropdown button { color: #002960; text-transform: uppercase; font-size: 0.75rem; padding: 0; }

header .language-selector .dropdown button:focus { outline: none; }

header .language-selector i { vertical-align: middle; }

main { min-height: calc(100vh - 145px); }

footer { background-color: #232d39; font-size: 0.75rem; line-height: 60px; min-height: 60px; margin-top: 40px; /* On screens that are 992px or less, set the background color to blue */ }

footer .copyright { color: #696969; }

footer ul li a.nav-link { color: #ffffff; display: inline-block; padding: 0 0.6rem; position: relative; }

@media screen and (max-width: 992px) { footer ul li a.nav-link { padding: 0 0.4rem; } }

footer ul li a.nav-link:before { content: ""; position: absolute; left: 0; top: 24px; height: 10px; width: 1px; background-color: #ffffff; }

footer ul li a.nav-link:hover { text-decoration: underline; }

footer ul li:first-child a:before { display: none; }

@media screen and (max-width: 992px) { footer .copyright, footer .justify-content-end { text-align: center; -webkit-box-pack: center !important; -ms-flex-pack: center !important; justify-content: center !important; } }

.form-check-label input[type="checkbox"] { position: absolute; opacity: 0; cursor: pointer; height: 0; width: 0; }

.form-check-label input[type="checkbox"]:checked ~ .checkmark:after { display: block; }

.form-check-label .checkmark { position: absolute; top: 0; left: 0; height: 16px; width: 16px; border-radius: 3px; border: 2px solid #000000; }

.form-check-label .checkmark:after { content: ""; position: absolute; display: none; left: 4px; top: 0; width: 4px; height: 9px; border: solid black; border-width: 0 2px 2px 0; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }

.form-check-label:hover input ~ .checkmark { background-color: #eeeeee; }

.site-wrapper.login { color: #ffffff; min-height: 100vh; background: #000 url("../img/login/McKA-login-bg.png"); background-size: cover; }

.site-wrapper.login a { color: #ffffff; }

.site-wrapper.login header { background: transparent; border: none; }

.site-wrapper.login header .language-selector { border: 0; }

.site-wrapper.login header .language-selector .dropdown button { background: transparent; color: #ffffff; }

.site-wrapper.login header i { color: #ffffff; }

.site-wrapper.login main { padding: 10% 0; min-height: calc(100vh - 183px); }

@media screen and (max-width: 992px) { .site-wrapper.login main { min-height: calc(100vh - 186px); } }

.site-wrapper.login main .heading { display: block; color: #ffffff; margin-bottom: 40px; }

.site-wrapper.login main .heading i { font-size: inherit; line-height: inherit; vertical-align: middle; font-size: 50px; }

@media screen and (max-width: 992px) { .site-wrapper.login main .heading { font-size: 30px; }
  .site-wrapper.login main .heading .nl { display: block; } }

@media screen and (max-width: 767px) { .site-wrapper.login main .heading { font-size: 24px; }
  .site-wrapper.login main .heading i { font-size: 33px; } }

.site-wrapper.login form label { color: #ffffff; }

.site-wrapper.login form .form-group { margin-bottom: 25px; }

.site-wrapper.login form .form-group input:not([type='checkbox']) { height: 50px; font-size: 0.9rem; border-radius: 0; background: transparent; color: #ffffff; border-color: #fff; }

.site-wrapper.login form .form-group input:not([type='checkbox']):disabled { border: 0; opacity: 0.9; }

.site-wrapper.login form .form-group small { font-size: 90%; color: #ffffff; }

.site-wrapper.login form .form-group.agreement label { font-size: 0.9rem; color: #000000; margin-left: 3px; }

.site-wrapper.login form ::-webkit-input-placeholder { /* Chrome/Opera/Safari */ color: #ffffff; }

.site-wrapper.login form ::-moz-placeholder { /* Firefox 19+ */ color: #ffffff; }

.site-wrapper.login form :-ms-input-placeholder { /* IE 10+ */ color: #ffffff; }

.site-wrapper.login form :-moz-placeholder { /* Firefox 18- */ color: #ffffff; }

.site-wrapper.login .quick-links { text-align: center; padding: 0; margin: 40px 0; overflow: hidden; }

.site-wrapper.login .quick-links li { display: inline-block; vertical-align: middle; margin: 7px 15px; color: #ffffff; }

.site-wrapper.login .quick-links a { color: #ffffff; text-transform: capitalize; text-decoration: underline; }

.site-wrapper.login .quick-links a:hover { text-decoration: none; }

@media screen and (max-width: 992px) { .site-wrapper.login .quick-links:not(:first-child) { display: none; } }

.site-wrapper.login submit { margin: 0 auto; }

.site-wrapper.login footer { background: #251F2E; }

.activation .form { background-color: #ffffff; border-top: 6px solid #002960; padding: 30px 50px; margin-top: 30px; }

.activation .form h4 { margin: 20px 0 20px; }

.activation .form .form-group { margin-bottom: 5px; }

.activation .form .form-group input:not([type='checkbox']) { max-width: 293px; height: 50px; border-radius: 0; border: 1px solid #696969; }

.activation .form .form-group input:not([type='checkbox']):disabled { border: 0; opacity: 0.9; }

.activation .form .form-group small { font-size: 90%; color: #696969; }

.activation .form .form-group.agreement label { font-size: 0.9rem; color: #000000; margin-left: 3px; }

.activation .form .form-group .password { position: relative; display: inline-block; width: 100%; max-width: 293px; }

.activation .form .form-group .password .material-icons { position: absolute; right: 10px; top: 14px; color: #696969; cursor: pointer; }

.activation .form .form-group .password .material-icons:hover { color: #0b0886; }

.activation .form .form-group .checkmark { top: 2px; }

.activation .form-footer { padding: 10px 35px; }

.activation .form-footer li { font-size: 1rem; color: #000000; padding: 15px 10px; font-weight: bold; }

.activation .form-footer li a { font-weight: 400; padding: 0; }

.activation .modal-dialog .modal-content { padding: 20px; }
