// Notes on the classes:

.site-wrapper {
  &.login {
    color: $white;
    min-height: 100vh;
    background:#000 url("../img/login/McKA-login-bg.png");
    background-size: cover;
    a {
      color: $white;
    }

    header {
      background: transparent;
      border: none;
      .language-selector {
        border:0;
        .dropdown {
          button {
            background: transparent;
            color: $white;
          }
        }
      }
      i{ color: $white;}
    }

    main {
      padding: 10% 0;
      min-height: calc(100vh - 183px);
      @media screen and (max-width: 992px) {
        min-height: calc(100vh - 186px);
      }
      .heading {
        display: block;
        color: $white;
        margin-bottom: 40px;
        i{
          font-size: inherit;
          line-height: inherit;
          vertical-align: middle;
          font-size: 50px;
        }
        @media screen and (max-width: 992px) {
          .nl{
            display: block;
          }
          font-size: 30px;
        }
        @media screen and (max-width: 767px) {
          font-size: 24px;
          i{
            font-size: 33px;
          }
        }
      }
    }
    form {
        label {
          color: $white;
        }
        .form-group {
          margin-bottom: 5px;
          input:not([type='checkbox']) {
            //max-width: 293px;
            height: 50px;
            font-size: 0.9rem;
            border-radius: 0;
            //border: 1px solid $gray;
            &:disabled {
              border: 0;
              opacity: 0.9;
            }
          }
          small {
            font-size: 90%;
            color: $white;
          }
          &.agreement {
            label {
              font-size: 0.9rem;
              color: $black;
              margin-left: 3px;
            }
          }
        }
      }


    .quick-links {
      text-align: center;
      padding: 0;
      margin: 40px 0;
      overflow: hidden;
      li {
        display: inline-block;
        vertical-align: middle;
        margin: 7px 15px;
        color: $white;
      }
      a {
          color: $white;
          text-transform: capitalize;
          text-decoration: underline;
          &:hover {
            text-decoration: none;
          }
        }
       @media screen and (max-width: 992px) {
         &:not(:first-child){
           display: none;
         }
       }
    }
    submit{ margin: 0 auto;}
    footer{
      background: $bg-login-footer;;
    }
  }
}
